main {
    display: grid;
    background-color: rgba(50,50,50,0.1);
    /* grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 100px); */
    grid-gap: 2px;
    width: 80vw;
    margin: 0 auto;  
    height: 100vh;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;

    /* Especificar posicion de las areas */
    grid-template-areas:
        "cabecera cabecera cabecera"
        "articulo articulo articulo"
        "lateralIzq lateralIzq lateralDer"
        "pieDePagina pieDePagina pieDePagina";
    grid-template-columns: 2r 2fr 2fr;    
    grid-template-rows: 1fr 1fr 40fr 1fr;
  }

main > * {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Nombrar las areas */
/* header { */
.cabecera {
    grid-area: cabecera;
    background-color: blueviolet;
    /* overflow-y: scroll; */
}

/* aside:first-of-type { */
.lateralIzq {
    grid-area: lateralIzq;
}

/* article { */
.articulo {    
    grid-area: articulo;
}

/* aside:last-of-type { */
.lateralDer {
    grid-area: lateralDer;
}

/* footer { */
.pieDePagina {    
    grid-area: pieDePagina;
}



  /* .item {
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }

  .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */
/* .container {
    display: grid;
    grid-template-columns: 50vh;
    grid-template-rows: 50vw; 
    background-color: rgba(50,50,50,0.1);
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 30px 30px 30px;
    grid-column-gap: 10px;
    grid-row-gap: 15px; 
    grid-auto-flow: row;
    grid-auto-flow: row dense;
    width: 80vw;
    margin: 0 auto;
    grid-gap: 15px 10px;
    border: 2px solid rgba(100,100,100,0.4);;
    border-radius: 1px;
} */

/* .item-a {
    margin: 5px;
    text-align: center;

    background-color: aquamarine;
    grid-area: header;
}

.item-b {
    margin: 5px;
    text-align: center;

    background-color: aliceblue;
    grid-area: main;
}

.item-c {
    margin: 5px;
    text-align: center;

    background-color: goldenrod;
    grid-area: sidebar;
}

.item-d {
    margin: 5px;
    text-align: center;

    background-color: royalblue;
    grid-area: footer;
} */